$light-font-color: whitesmoke;

%header-color {
  color: $light-font-color;
  background-color: gray;
}

$margin: 25px;

body {
  font-family: Arial, sans-serif;
  background-color: ivory;
  .btn {
    font-weight: bold;
  }
  .btn-info {
    color: $light-font-color;
  }
  .btn-info:hover {
    background-color: aquamarine;
  }
}

header {
  @extend %header-color;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

#credit {
  @extend %header-color;
  text-align: center;
  padding-bottom: 5px;
  font-size: 14px;
  a {
    @extend %header-color;
    text-decoration: underline;
  }
}

#credit > img {
  width: 16px;
}

@media (max-width: 449px) {
  #credit a::after {
    content: "WWS - University of York";
  }
}

@media (min-width: 450px) {
  #credit a::after {
    content: "Wired Women's Studies - University of York";
  }
}

.main-content {
  margin: $margin;
}

a[class=lessons] {
  text-decoration: none;
  color: black;
}

.card:hover {
  @extend %header-color;
  .card-title {
    @extend %header-color;
  }
  .card-text {
    @extend %header-color;
  }
}